$body-bg: #1a1a1a;
$primary: #a5ea4a;
$secondary: #ff99b9;
$dark: #333;
$light: #EEE;

@import '~bootstrap/scss/bootstrap';
body {
  font-family: 'Raleway', sans-serif;
}

.text-black {
  color: black !important;
}
a.text-black {
  color: black !important;
  &:hover {
    text-decoration: underline;
  }
}

.mystery {
  font-family: "Mystery Quest", cursive;
}
.logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.hidden {
  display: none;
}

//Splash for various screen sizes, starting with xs
.splash {
  background-size: cover;
  background-position: top center;
  height: 400px;
  margin-bottom: -400px;
}
.splash-overlay {
  height: 400px;
  margin-top: -400px;
  margin-bottom: -400px;
  background-color: rgba(0, 0, 0, 0.7);
}
.splash-img {
  img {
    width: 100%;
    margin: auto;
  }
}
.splash-text {
  margin-top: 20px !important;
}


@include media-breakpoint-up(sm) {
  .splash {
    height: 275px;
    margin-bottom: -275px;
  }
  .splash-overlay {
    height: 275px;
    margin-top: -275px;
    margin-bottom: -275px;
  }
  .splash-text {
    margin-top: 100px !important;
  }
}
@include media-breakpoint-up(md) {
  .splash {
    height: 350px;
    margin-bottom: -350px;
  }
  .splash-overlay {
    height: 350px;
    margin-top: -350px;
    margin-bottom: -350px;
  }
  .splash-text {
    margin-top: 100px !important;
    h2 {
    }
  }
}
@include media-breakpoint-up(lg) {
  .splash {
    height: 500px;
    margin-bottom: -500px;
  }
  .splash-overlay {
    height: 500px;
    margin-top: -500px;
    margin-bottom: -500px;
  }
  .splash-text {
    margin-top: 200px !important;
  }
}
@include media-breakpoint-up(xl) {
  .splash {
    height: 600px;
    margin-bottom: -600px;
  }
  .splash-overlay {
    height: 600px;
    margin-top: -600px;
    margin-bottom: -600px;
  }
  .splash-text {
    margin-top: 250px !important;
  }
}
@include media-breakpoint-down(sm) {
  .splash-text {
    h2 {
      font-size: 30px;
    }
  }
}
@include media-breakpoint-down(xs) {
  .splash-img {
    img {
      width: 300px;
    }
  }
  .splash-text {
    h2 {
      font-size: 26px;
    }
  }
}
